# Node modules
node_modules/

# Build output
dist/



# Vite cache
.vite/

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDE specific files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Others
*.tgz

.idea